.banner{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/mercadojjcd.appspot.com/o/Foto1.jpg?alt=media&token=46f6f713-9948-458c-a420-51b09abd4dbb);
    padding: 25%;
    background-attachment: fixed;
    
}